@use 'reset';
@use 'vars';

body {
  background-color: rgb(211, 208, 208);
  font-family: 'League Spartan', sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.05em;
  font-weight: 700;
  color: rgb(17, 17, 17);
  transition-duration: 1s;


}

.-dark{
  background-color: black;
  color: rgb(248, 243, 236);
  transition-duration: 1s;
 }


