.currencies {
  
    display: flex;
    flex-direction: column;
    align-items: center;
    &-title {
      padding-bottom: 20px;
  
    }
  
    &-List {
      height: 50vh;
      overflow: auto;
      width: 80%;
      border-radius: 3px;
      border: 2px solid white;

      
    }
  
    &-item {
      padding: 0.5rem;
      border-top: 1px solid rgba(159, 186, 64, 0.426);
      border-radius: 3px;
      transition-duration: 1s;
      text-align: left;
  
      &:hover {
        cursor: pointer;
        background-color: rgb(131, 137, 139);
    
        transition-duration: 0.2s;
      }
    }
    &-button {
      margin-top: 10px;
      padding: 5px;
      border-radius: 3px;
      border: 1px solid white;
      cursor: pointer;
    }
  }