.header {
  
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid white;
  
    &-title {
      font-weight: 700;
      font-size: xx-large;

    }

    &-moon {
      height: 35px;
      padding: 10px;
      position: relative;
      left:20%;
      &:hover {
        cursor: pointer;
      }
    }
  }

  